.Badge {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
}

.Badge > .Text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.toggleButton {
    display: flex;
    align-items: center;
}

.checkButtons {
    height: 15px;
    width: 15px;
    margin-left: 10px;
}