.Badge {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 20px;
}

.Badge > .Text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
