.PageContent {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 95vw;
    margin: auto;
}